body {
  background-color: darkslategray;
}

div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input,
button {
  margin-top: 30px;
  padding: 1rem;
}

.users {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
  .users {
    grid-template-columns: 1fr;
  }
}
